.container {
	padding: 50px;
	padding-top: 15px;
	border: 2px solid #ccc;
    margin-bottom: 36px;
}
.title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}
.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
.name-attack {
	width: 100%;
    justify-content: space-around;
    display: flex;
}
.form-btns {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.error {
	font-weight: 500;
    color: red;
    margin-bottom: 5px;
	
}
.aboslute {
	position: absolute;
}